<section class="container d-flex justify-content-center align-items-center custom-container">
    <div class="row mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Electronics</a></li>
                <li class="breadcrumb-item"><a href="#">Audio</a></li>
                <li class="breadcrumb-item"><a href="#">Headphones</a></li>
                <li class="breadcrumb-item"><a href="#">Shop Headphones by type</a></li>
                <li class="breadcrumb-item active" aria-current="page">Airpods-max</li>
            </ol>
        </nav>

<!-- Imagen principal y miniaturas (col-md-6 en pantallas medianas y grandes) -->
<div class="col-md-6 mb-4">
<img src="<%= product.images[0] %>" alt="Producto principal" class="img-fluid gray-background col-md-12" id="main-image">
<!-- Miniaturas aquí -->
<div class="row">
    <% if (product && product.images && product.images.length > 0) { %>
        <% product.images.forEach((image, index) => { %>
            <div class="col-3 mt-2">
                <img src="<%= image %>" alt="Miniatura <%= index + 1 %>" class="img-fluid thumbnail color-option gray-background" data-image="<%= image %>">
            </div>
        <% }) %>
    <% } %>
</div>
</div>


        <!-- Información del producto y detalles (col-md-6 en pantallas medianas y grandes) -->
        <div class="col-md-6">
            <!-- Información del producto aquí -->
            <div class="col-md-12 border-bottom px-3 py-0">
                <h1><%= product.name %></h1>
                <p> <br> <%=product.description %>.</p>
                <div class="d-flex justify-content-start align-items-center mb-4 ">
                    <div class="bi-star-fill" style="color: green;"></div>
                    <div class="bi-star-fill" style="color: green;"></div>
                    <div class="bi-star-fill" style="color: green;"></div>
                    <div class="bi-star-fill" style="color: green;"></div>
                    <div class="bi-star-fill" style="color: green;"></div>
                    <p class="mb-0" style="color: green;"><%= '('+ product.rating +')' %></p>
                </div>
            </div>

            <div class="border-bottom px-3 py-3">
                <div class="mt-4" style="white-space: nowrap;">
                    <h2><%= '$' + product.price %></h2>
                </div>
                <div class=" mb-4 white-space: nowrap;">
                    <p>suggested payments with 6 months special financing</p>
                </div>
            </div>
            <!-- Columna para detalles (precio, color, etc.) -->
            <h5 class="mt-2 mb-2 px-3 py-2">Choose a Color</h5>

<div class="color-options px-3 py-2 border-bottom">
<% product.colors.forEach(color => { %>
    <div class="<%= color.code %> mb-3" data-image="<%= color.img %>"></div>
<% }) %>
</div>

            

            <!-- Columna para detalles (cantidad) -->
            <div class="d-flex align-items-center mt-3 px-3 py-2">
                <div class="custom-counter px-2 py-1 mb-2">
                    <button class="custom-button" id="decrement">-</button>
                    <input type="number" class="custom-input text-center" id="quantity" value="1" readonly>
                    <button class="custom-button" id="increment">+</button>
                </div>
                <p class="custom-message ml-2">Only <span class="naranja">12 items</span> left!<br> Don't miss it
                </p>
            </div>

            <!-- Botones buy y add to cart -->
            <div class="mt-1 mb-1 px-3 py-1 mt-4">
                <button type="button" class="btn mr-4 mr-md-4 mb-md-0  btn-primary btn-round ">Buy Now</button>
                <button type="button" class="btn ml-2 ml-md-4 mb-md-0  btn-outline-primary btn-roundcart ">Add to
                    Cart</button>
            </div>


            <!-- delivery info -->
            <div class="container mt-3 ">
                <div class="col ">
                    <div class="col-md-8 border px-3 py-2 ">
                        <div class="info-content">
                            <i class="fa fa-truck"></i> <span>Free Delivery</span><br>
                            <a href="#">Enter your Postal Code for Delivery Availability</a>
                        </div>
                    </div>
                    <div class="col-md-8 border px-3 py-2 ">
                        <div class="info-content">
                            <i class="bi bi-archive"></i> <span>Return Delivery</span>
                            <br>
                            <p>Free 30 days Delivery Returns.<a href="#">Details</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>